.wrapper {
  user-select: none;
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;

  .container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 20px;
  }

  .nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 10px 20px;
    text-transform: uppercase;

    .hamburger {
      @media (max-width: 1280px) {
        display: inline-block; /* Show hamburger on small screens */
        z-index: 9999;
      }

      display: none;
      flex-direction: column;
      cursor: pointer;

      .line {
        width: 30px;
        height: 3px;
        background-color: #fff;
        margin: 4px 0;
        transition: transform 0.3s, opacity 0.3s;

        &:nth-child(2) {
          transition: opacity 0.3s; /* Smooth transition for the middle line */
        }
      }

      &.open .line:nth-child(1) {
        transform: translateY(7px) rotate(45deg);
      }

      &.open .line:nth-child(2) {
        opacity: 0; /* Hide the middle line when open */
      }

      &.open .line:nth-child(3) {
        transform: translateY(-7px) rotate(-45deg);
      }
    }

    .menu {
      display: flex;
      align-items: center;

      @media (max-width: 1280px) {
        display: none;
        flex-direction: column;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #000; /* Full black background */
        z-index: 200; /* Higher z-index to overlay everything */
        justify-content: center;
        transition: opacity 0.3s ease-in-out;
        opacity: 0; /* Initially hidden */
        pointer-events: none; /* Prevents clicks when closed */

        &.open {
          display: flex;
          opacity: 1; /* Fade in */
          pointer-events: auto; /* Allow interactions when open */
        }
      }
    }

    .link {
      margin: 15px 0;
      text-decoration: none;
      color: #fff;
      font-size: 1.5rem; /* Larger font size for better visibility */
      font-weight: bold;
      letter-spacing: 2px;
      transition: color 0.3s ease;

      &:hover {
        color: rgb(203, 177, 156); /* Highlight color on hover */
      }

      @media (max-width: 768px) {
        font-size: 1.2rem; /* Adjust for smaller screens */
      }
    }

    .button {
      margin-top: 20px;
      padding: 12px 30px;
      font-size: 1.2rem;
      color: #fff;
      cursor: pointer;
      border-radius: 5px;
      background: transparent;
      border: 2px solid rgb(203, 177, 156);
      transition: background-color 0.3s, color 0.3s;

      &:hover {
        background-color: rgb(203, 177, 156);
        color: #000;
      }

      @media (max-width: 768px) {
        font-size: 1rem;
        padding: 10px 25px;
      }
    }
  }
}
